<h1>SciTeachPlan</h1>
<p>To help teachers (especially science teachers) plan their schedule between multiple classes</p>
<p>TODO: Login script (new user / confirm email? / confirm payment details? / forget password )</p>
<p>NICE TODO: Figure some workaround for new/edit confirmation messages on classes (atm, responds "L class successfully updated")</p>
<p>QUICK TODO: Add a Notes field to Lessons -> and show it on requisitions list</p>
<p>QUICK TODO: Store Week number seperately from datetime, to allow requisition list to be more efficient and less ugly</p>
<p>NICE TODO: Calculate start of week number so requisitions list can be from "week starting xxx" rather than a week number</p>
<p>ASK: Remove Plan column from Lessons?</p>
<p>ASK: Reqs column needs to be large, multi-line like notes? atm, limited to 256 characters</p>
<p>To get started, <a href="/l_classes">Browse all classes</a></p>
