<h1>SciTeachPlan</h1>
<p>To help teachers (especially science teachers) plan their schedule between multiple classes</p>
<p>TODO: Login script (new user / confirm email? / confirm payment details? / forget password )</p>
<P>TODO: Weekly list of Requisitions</p>
<p>To get started, <a href="/l_classes">Browse all classes</a></p>
