<h1>Welcome to the root page</h1>
<p>This is Jeffreys first Rails App</p>
<p>loren ipsum blah blah</p>
<p>View all lessons <a href="/lessons">here</a></p>
<p>Add a new lesson <a href="/lessons/new">here</a></p>
